@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('https://static.vecteezy.com/system/resources/previews/020/040/404/non_2x/multi-layers-blue-color-texture-3d-papercut-layers-in-gradient-banner-abstract-paper-cut-art-background-design-for-website-template-topography-map-concept-or-smooth-origami-paper-cut-vector.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-box {
    position: relative;
    width: 400px;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(15px);
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
}

.message {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 15px 0;
}

.message a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;    
}

.message a:hover {
    text-decoration: underline;
}

@media (max-width: 360px) {
    .form-box {
        width: 100%;
        height: auto;
        border: none;
        border-radius: 0;
    }
    .input-box {
        width: 290px;
    }
}